<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>adminlogin</servlet-name>
        <servlet-class>main.adminlogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>collectblood</servlet-name>
        <servlet-class>main.collectblood</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>main.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registration</servlet-name>
        <servlet-class>main.registration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>donateblood</servlet-name>
        <servlet-class>main.donateblood</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deletedonor</servlet-name>
        <servlet-class>main.deletedonor</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>adminlogin</servlet-name>
        <url-pattern>/adminlogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>collectblood</servlet-name>
        <url-pattern>/collectblood</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registration</servlet-name>
        <url-pattern>/registration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>donateblood</servlet-name>
        <url-pattern>/donateblood</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deletedonor</servlet-name>
        <url-pattern>/deletedonor</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
